.container {
  background-color: white;
  padding: 10px;
}
.post {
  background-color: white;
}
.title {
  color: rgb(0, 0, 247);
}
.divbutton {
  text-align: center;
  margin: auto;
}
.button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.postImage {
  width: auto;
  height: 200px;
}
