.button {
    background-color: darkblue;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .singleBoat{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  .details{
    padding-left:5%;
  }
  .title{
    display: flex;
    justify-content: center;
  }
