.boat {
  margin: 40px;
  padding: 2%;
  border: 1px solid lightblue;
}
.boatImg {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.button {
  background-color: darkblue;
  color: white;
  border: none;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 25%;
  /*   margin-bottom: 15px;
 */
}
.boatCard {
  /*   display: flex;
 */ /*   border: 2px solid black;
 */
}
