.main {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: blue;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.left {
  max-width: 400px;
  font-size: 20px;
  text-align: center;
}
.right {
  width: 40%;
  text-align: center;
}

.info {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.labels {
  text-align: right;
  margin-right: 5%;
  width: 200px;
  font-style: italic;
  color: var(--color-light-blue);
  font-weight: 300;
}

.data {
  text-align: left;
  margin-left: 5%;
  width: 200px;
}

.profilePicture {
  width: 250px;
  height: 250px;
  /*   border-radius: 100%;
 */
  border: 2px solid black;
  margin-top: 40px;
  object-fit: cover;
}

.logout {
  cursor: pointer;
  font-size: 20px;
  color: blue;
  background-color: var(--color-light-blue, lightskyblue);
  border-radius: 20px;
  padding: 12px 40px;
}
@media only screen and (max-width: 850px){
  .right {
    width: 100%;
    text-align: center;
  }
  .info{
    width: 100%;
  }
}